<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-full bg-sky-400 w-screen h-screen flex justify-center items-center">
        <div class="container bg-blue-100 w-max p-8 shadow-xl rounded-xl">
            <h1 class="text-center text-4xl font-bold mb-5">Hola {{name}},</h1>
            <h2 class="text-center text-2xl mb-5">Gracias por suscribirte</h2>
            <p class="text-center text-xl mb-5">Ahora te mantendremos informado con las últimas noticias que harán crecer tu negocio</p>
            <a href="/" class="mx-auto bg-cyan-500 rounded-xl px-8 py-2 w-full hover:text-white hover:cursor-pointer hover:bg-cyan-600 block text-center">Regresar a registro</a>
        </div>
    </div>
</body>
</html>